[Unit]
Description=my first app aitomation
After=network.target

[Service]
User=www-data
#Group=www-data
WorkingDirectory=/var/www/html/
Environment=/usr/bin/env
ExecStart=/usr/bin/env gunicorn --workers 3 --bind 0.0.0.0:5003 --error-logfile /tmp/airbnb-error.log --access-logfile /tmp/airbnb-access.log web_dynamic.2-hbnb:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
