[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/html
Environment=/usr/bin/env
ExecStart=/usr/bin/ gunicorn --workers 3 --error-logfile /tmp/airbnb-error.log --access-logfile /tmp/airbnb-access.log --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
